/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    max-width: 1000px;
    margin: 0 auto;
}
.grid-item {
    background-color: #f8f8f8;
    padding: 5px;
    width: 190px;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
}
.grid-item .main-img img {
    width: 180px;
}
.grid-item:hover {
    box-shadow: 5px 5px 7px rgba(102, 102, 102, 0.5);
}
img {
    vertical-align: middle;
}

.main-img p {
    width: 180px;
    margin: 0 auto;
    background-color: #d8d3c7;
    padding: 0 5px;
    margin: 5px 0;
    border-radius: 2px;
    color: #777;
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8d3c7;
    padding: 5px;
}

.info-box img {
    width: 32px;
    height: 32px;
}

.like-box {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeee9;
    padding: 0 12px;
    border-radius: 2px;
}

.like-box i {
    margin-right: 5px;
}

.like-box {
    text-decoration: none;
}

a.btn.btn-default.navbar-btn {
    padding: 5px 10px;
}

a.btn.btn-default.navbar-btn i {
    margin-right: 5px;
    font-size: 18px;
    color: #337ab7;
}

a.btn.btn-default.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.add-pic {
    padding: 5px;
}

.add-pic .form-group {
    margin-bottom: 5px;
}

.add-pic button.btn.btn-default {
    margin-top: 5px;
}

.like-box:hover, .like-box:active {
    text-decoration: none;
}