html
  head
    block title
        title Pinterest Clone
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")    
    link(rel="stylesheet", href="/assets/css/main.css")
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/font-awesome.min.css")
    block head
  body
    block bodyContent
       h1 this is the content
    script(src="/assets/js/jquery-1.12.4.min.js")  
    script(src="/assets/js/bootstrap.min.js")
    script(src="/assets/js/masonry.pkgd.min.js")
    script.
      $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
      })
    block footer


//-
    Template file has three blocks where you can modify
    1, block title
    2, block head  (Right after all the css has been loaded)
    3, block bodyContent  (Right after body tag)
    4, block footer  (The end of the file, right after masonry is initialized)

